body {
    background-color: #f5d4e7;
    text-align: center;
}
h1 {
    color : #ff9f44;
    margin-left: 20px;
    font-size: 90px;
    text-align: center;
}
a{
    background-color: #b9f8b3;
    color: #046e0c;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#index{
    background-color: #a298ff;
    color: #27006e;
}
.reg{
    background-color: #adffb3;
    color: #00be10;
}